$main-background-color: #EFF0F1;
$left-menu-color: #FFFFFF;
$selected-color: rgb(244,244,244);
$navbar-height: 64px;
$main-padding: 84px;
$text-color: #555;
$light-font-weight: 100;
$medium-font-weight: 400;
$bold-font-weight: 700;
$lolstack-blue: #00bcd4;


* {
  font-family:'Open sans', Roboto, Helvetica Neue;
  color: $text-color;
  box-sizing: border-box;
}

body {
  background-color: $main-background-color;
  margin: 0px;
}

html {
  margin: 0;
  padding: 0;
}

$nav-bar-height: 60px;
$chat-box-height: 60px;

.top-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: $nav-bar-height;
  background-color: $lolstack-blue;
  padding-top: 15px;
  position: fixed;
  top: 0px;

  .left {
    .logo {
      a {
        color: white;
        font-size: 27px;
        font-weight: 200;
        font-family: Lobster;
        text-decoration: none;
        padding-left: 50px;
      }
      float: left;
      margin-right: 20px;
    }
  }
  .button {
    margin-right: 60px;
  }

  .title {
    color: white;
    font-size: 25px;
  }
}

.board {
  width: 100%;
  max-width: 600px;
  margin: $nav-bar-height auto $chat-box-height;
  padding-bottom: 200px;

  #cards {
    width: 100%;
    .card-content {
      display: block;
      padding-bottom: 50px;
      iframe {
        display:block;
        margin: 0px auto;
      }
    }
  }

  .chat-box {
    position: fixed;
    width: 100%;
    max-width: 600px;
    bottom: 0;
    height: $chat-box-height;
    background-color: white;
    margin: 0px auto;
    .chat-box-container {
      display: flex;
      input {
        flex: 1;
        height: 40px;
        outline: 0;
        border: 1px solid #CCC;
        padding: 10px;
        margin: 10px;
        font-size: 16px;
      }
      .button-container {
        margin-top: 10px;
        margin-right: 10px;
        flex-direction: column;
        justify-content: center;
      }
    }
  }
}

