doctype html
html
  head
    title Yo! As it happened
    script(src="/dist/boards-bundle.js")
    link(href="//fonts.googleapis.com/css?family=Roboto:400,300,500,400italic,300italic,500italic,700,700italic" rel="stylesheet" type="text/css")
    link(href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css')
    script(type="text/javascript").
      window.current_user='#{current_user}';
  body
    div#content
    div#footer
    script(src="/public/js/vine-embed.js")
    script(src="/public/js/instagram-embed.js")
    script(src="/public/js/twitter-widgets.js")
    script(src="/public/js/youtube-iframe-api.js")
    script(src="/public/js/imgur-embed.js")
