doctype html
html
  head
    title Yo! As it happened
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700,300italic,300' rel='stylesheet' type='text/css')
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
    link(href="//fonts.googleapis.com/css?family=Roboto:400,300,500,400italic,300italic,500italic,700,700italic" rel="stylesheet" type="text/css")
    link(href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
    link(href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css')
    script(src="/dist/login-bundle.js")
    script(type="text/javascript").
      !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
  body
    div#content
    div#footer
